.header-article {
  text-align: center;
}

.form{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
}

ul {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}
